rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Restrict access to user's own media folder
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow users to upload bug report attachments
    match /feedback_attachments/{allPaths=**} {
      allow create: if true;
    }
  }
}
